@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none; color:#666; }
img{ vertical-align:top; border:none;}

.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
input{ background:none; border:none; outline:none;}
body{ color:#666; font-size:12px;}
.w{ width:1200px; margin:0 auto;}
.hot{ color:#ff5699 !important;}