body{
	margin: 0;
	border: 0px;
	font-family: Arial;
}
img{
	border: none;
}
em{
	transform-style: none;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;

}
a:hover{
	text-decoration: underline;
}
#container{
	width: 1200px;
	margin: 0 auto;
}
#top{
	height: 39px;
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
}

.topnav{
	float: right;

}
.topnav li{
	position: relative;
	float: left;
	
	
}
.topnav a{
	color: #999;
	font-size: 12px;
	line-height: 39px;
	border-right: 1px dotted #ccc;
	margin-left: 15px;
	padding-right: 16px;
	height: 39px;
	text-align: center;
	
}
.topnav em{
	display: inline-block;
	margin-bottom: -5px;
	margin-right: -13px;
}

.topnav-a{
	width: 17px;
	height: 18px;
	background: url(./img/sprite1.png)no-repeat 0px -21px;
}
.topnav-b{
	width: 15px;
	height: 17px;
	margin-left: 19px;
	background: url(./img/sprite1.png)no-repeat -189px -21px;
}
.topnav-c{
	width: 13px;
	height:17px;
	margin-left: 15px;
	background: url(./img/1.png) no-repeat;
}
.topnav-d{
	width: 12px;
	height: 17px;
	margin-left: 15px;
	background: url(./img/sprite1.png) no-repeat -171px -45px;
}

#header{
	position: relative;
    margin: 0 auto;
	height:66px;
	background: #fff;

}
#header .header-logo{
	float: left;
	margin-top: 15px;
}
#header .header-search{
	position: absolute;
	top:17px;
	left: 350px;
	width: 464px;
	height: 34px;
}

#header .shopping-car{
	position: absolute;
	top: 17px;
	right: 115px;
	background: #f5f5f5;
	border: 1px solid #6e6e6e;

}
.joinus a{
	color:#666;
	font-size: 12px;
	line-height: 30px;
	margin-left: 8px;
	padding-right:9px;
}
.shopping-car em{
background: url(./img/sprite1.png)no-repeat -192px -45px;
}
#header .indent{
    position: absolute;
    right: 14px;
    top: 17px;
    width: 83px;
    height: 30px;
    background: #f5f5f5;
    border: 1px solid #6e6e6e;
}
.indent em{

  background: url(./img/sprite1.png) no-repeat -223px -45px;
}

#banner{
     height: 458px;
     background: #fd5d89;
}
.banner-top{
	height: 40px;
	background: #ff6599;
}
.banner-top .navbar{
	float: left;
	margin-left: 125px;
}
.banner-top .navbar li{
	float: left;

}
.banner-top .navbar a{
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	margin-left: 14px;
	margin-right: 15px;


}
.navbar .active:link{
	background: #ff6599;
}
.navbar .point{
	padding-right: 2px;
	padding-top: -20px;
	background:url(./img/sprite1.png) no-repeat -22px -70px;
}
/*Hot样式*/

.banner-bottom{
	width: 1200px;
	height: 572px;
	position: relative;
}

.banner-bottom .siderbar{
	position: absolute;
	left: 0px;
	width: 240px;
	height: 572px;
	background: #fff;
	border: 1px solid #e6e6e6;
}
.siderbar li{
	margin-left: 20px;
	margin-right: 19px;
	margin-top: 13px;
	padding-bottom: 12px;
	border-bottom: 1px dotted #ccc;
}
.siderbar .siderbar-a{
	border-bottom: none;
}
.siderbar h4{
	font-size: 16px;
	color: #ff6699;
}
.siderbar .siderbar-b{
	font-size: 12px;
	color: #ff6699;
}
.siderbar a{
	padding-top: 12px;
	margin-bottom: 12px;
    margin-right: 10px;
	font-size: 12px;
	line-height: 24px;
	color: #666;
}

.banner .middle{
	width: 760px;
	height: 574px;

}
.middle-top{
	width: 760px;
	height: 420px;
	position: absolute;
    left:240px;
}
.bottom{
	position: absolute;
	left: 252px;
	width: 760px;
	height: 154px;
}
.bottom div{
	 float: left;
	 width: 177px;
     height: 144px;
     margin-right: 10px;
     background: #f5f5f5;

}
.bottom-a{
	position: absolute;
	top: 430px;
	width: 177px;
	height: 144px;
}
.bottom-b{
	position: absolute;
	top: 430px;
	left: 187px;
	width: 177px;
	height: 144px;
}
.bottom-c{
	position: absolute;
	top: 430px;
	left: 374px;
	width: 177px;
	height: 144px;
}
.bottom-d{
	position: absolute;
	top: 430px;
	left: 561px;
	width: 177px;
	height: 144px;
}
.banner-right{
	float: right;
	width: 200px;
	height: 458px;
}

.banner-right .right-all{

	width: 200px;
	right: 418px;
}
.right-all div{
	width: 200px;
	height: 139px;
	border-bottom: 1px solid #e6e6e6;
}

.right-d{
	position: absolute;
	margin-top: 10px;
}

#content{
      height: 4608px;
      background: #fff;
      margin-top: 156px;
}
#content .first{
	height: 776px;
	position: relative;
}
.first .first-top{
	height: 52px;
	border-bottom: 1px solid #e6e6e6;
}
.first-top .top-pic{
	position: absolute;
	top: 20px;
	margin-bottom:7px;
	width: 158px;
	height: 25px;
	background: url(./img/pic.png) no-repeat 0px 0px;
}

.first-content{
	position:relative;
	top: 53px;
	width: 1200px;
	height: 722px;
}
.first-all{
	float: left;
	width: 1200px;
	height: 722px;
  margin-top: 15px;
	overflow: hidden;
}
.content-all{
	float: left;
	height: 354px;
	margin-right: 20px;
}
.content-all .content-n{
		position: absolute;
		right: 0px;
	padding-right: -20px;
}
.content-a{
  width: 180px;
	height: 330px;
	border-bottom: 1px dotted #ccc;
}

.content-s{
	padding-top: 9px;
	margin-bottom: 10px;
	height:30px;
	font-size: 12px;
	color: #666;

}
.buyer{
	margin-top: 9px;
}
.some{
	font-size: 14px;
	color: #ff66aa;
}
.some-a{
	color: #999;
	font-size: 9px;
	margin-left: 8px;
	text-decoration: line-through;
}
.second{
	position: relative;
  width: 1200px;
	height: 443px;

}
.second .second-top{
	height: 52px;
	background: #fff;
	border-bottom: 1px solid #e6e6e6;
}
.top-two{
	position: absolute;
	top: 23px;
	height: 23px;
	width: 1200px;
	background: url(./img/pic.png) no-repeat 0px -240px;
}
.two-a{
	position: absolute;
	right: 0px;
	font-size: 14px;
	color: #999;
}
.second-content{
	height: 368px;

}
.pic-wet{
	height: 100px;
}
.clothes{
	height: 664px;
	border: 1px solid #e6e6e6;
}
.clo-top{
	position: relative;
	height: 52px;
	border-bottom: 1px solid #e6e6e6;
}
.clo-pic{
	position: absolute;
	height: 23px;
	width: 77px;
	top: 20px;
	background: url(./img/pic.png)no-repeat 0px -43px;
}
.clo-pic p{
	position: absolute;
	left: 77px;
	top: 5px;
	height: 15px;
	font-size: 15px;
	width: 1100px;
	margin-left: 11px;
	line-height: 15px;
	padding-left: 9px;
	color: #999;
	border-left: 1px dotted #e6e6e6;
}
.clo-pic .bold{
	font-weight: bold;
	color: #666;
}
.clo-right{
position: absolute;
right: 0px;
color: #999;
}
.clo-all{
	height: 611px;

}
.clo-left{
	position: relative;
	width: 940px;
	height: 611px;
	border-right: 1px solid #e6e6e6;
}
.left-pic{
position: absolute;;
width: 920px;
height: 534px;
}

.left_a{
	position: absolute;
	height: 513px;
	top: 20px;
}

.clo-b{
	height: 43px;
	width: 920px;

}
.bot-aa{
	float: left;
	width: 312px;
	margin-top: 552px;
	height: 43px;
	border-right:1px dotted #ccc;
}
.bot-not{
	border-right: none;
}
.aa-l{
	color: #ff6699;
	width: 31px;
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	margin-left: 12px;

}
.aa-r{
	color:#666;
	float: right;
	width: 230px;
	height: 43px;
	vertical-align: center;
	margin-top:3px;
	font-size:12px;
	padding-left: 15px;
	margin-right: 15px;
}
.clo-r{
	float: right;
	width:259px;
	margin-top:-611px;
	height: 611px;
}
.shoes{
	height: 666px;
	border-bottom: 1px solid  #e6e6e6;
}
.shoes-top{
	position: relative;
	height:52px;
	border: 1px solid #e6e6e6;
}
.shoes-t{
	position: absolute;
	top: 20px;
	height: 24px;
	background: url(./img/pic.png) no-repeat 0px -80px;
}
.shoes-t p{
	margin-left:89px;
	color:#999;
	margin-top:3px;
	width: 1095px;
	font-size: 14px;
	line-height: 24px;
	padding-left: 9px;
	border-left: 1px dotted #e6e6e6;
}
.shoes-t span{
	padding-left: 5px;
	margin-right: 4px;
	font-weight: bold;
	color: #666;
}
.shoes-t a{
	float: right;
	color:#999;
	font-size: 14px;
}
.shoes-bottom{
	height: 612px;
}
.shoes-left{
	position: relative;
	width: 940px;
	height: 612px;
	border-right: 1px solid #e6e6e6;
}
.shoes-pic{
  position: absolute;
	top: 20px;
	height: 553px;
}
.shoes-l{
	height:78px;
}
.shoes-all{
	float: left;
	width: 311px;
	margin-top:20px;
	height: 43px;
	border-right: 1px dotted #e6e6e6;
}
.shoes-li{
	color:#ff6699;
	font-size: 16px;
	line-height: 43px;
	margin-left: 12px;
}
.shoes-x{
	float: right;
	width:210px;
	height:40px;
	vertical-align: center;
	color:#666;
	font-size: 12px;
	padding-top:3px;
	margin-right:29px;
	padding-left: 20px;
}
.nothing{
	border-right:none;
}

.shoes-right{
	float: right;
	margin-top: -611px;
	margin-left: 941px;
	width: 250px;
	height: 611px;
}
.handbag{
	height: 664px;
	border-bottom: 1px solid #e6e6e6;

}
.handbag-top{
	position: relative;
	height: 52px;
	border-bottom: 1px solid #e6e6e6;

}
.bag-pic{
	position: absolute;
	top: 20px;
	width: 87px;
	height: 25px;
	background: url(./img/pic.png) no-repeat 0px -117px;
}
.bag-pic p{
	position: absolute;
	top: 8px;
	color: #999;
	font-size: 14px;
	line-height: 14px;
	width:1100px;
	padding-left:9px;
	margin-left: 87px;
	height: 14px;
	border-left: 1px dotted #ccc;
}
.bag-pic .bag-aa{
	color: #666;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 4px;
}
.bag-bb{
	color: #999;
	float: right;
}

.bag-bottom{
	height: 610px;

}

.bag-left{
	position: relative;
	width: 940px;
	height: 610px;
	border-right: 1px solid #e6e6e6;
}
.bag-tu{
	height: 530px;
	width: 920px;

}
.bag-cc{
	position: absolute;
	width: 920px;
	height: 513px;
	top:20px;
}
.bag-in{
	height: 78px;


}

.bag-all{
	float: left;
	width: 311px;
	margin-top:20px;
	height: 43px;
	border-right: 1px dotted #e6e6e6;
}
.bag-l{
	color:#ff6699;
	font-size: 16px;
	line-height: 43px;
	margin-left: 12px;
}
.bag-x{
	float: right;
	width:210px;
	height:40px;
	vertical-align: center;
	color:#666;
	font-size: 12px;
	padding-top:3px;
	margin-right:29px;
	padding-left: 20px;
}
.bag-not{
	border-right: none;
}
.bag-right{
	float: right;
	margin-top: -611px;
	width: 259px;
	height: 610px;
}
.jewelry{
	height: 666px;
	border-bottom: 1px solid #e6e6e6;
}
.jewelry-top{
	position: relative;
	height: 52px;
	border-bottom: 1px solid #e6e6e6;
}
.jewelry-tips{
	position: absolute;
	top: 20px;
	height: 27px;
	width: 78px;
	background: url(./img/pic.png)no-repeat 0px -158px;
}
.jewelry-tips p{
	position: absolute;
	top: 8px;
	color: #999;
	font-size: 14px;
	line-height: 14px;
	width:1100px;
	padding-left:9px;
	margin-left: 87px;
	height: 14px;
	border-left: 1px dotted #ccc;
}
.jewelry-tips .jewelry-aa{
	color: #666;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 4px;
}
.jewelry-bb{
	color: #999;
	float: right;
}

.jewelry-bottom{
	height: 611px;

}

.jewelry-left{
	position: relative;
	width: 940px;
	height: 611px;
	border-right: 1px solid #e6e6e6;
}

.jewelry-pic{
	height: 532px;
	width: 920px;

}

.pic-aaa{
	position: absolute;
	width: 920px;
	height: 513px;
	top:20px;
}

.jewelry-all{
	height: 78px;


}

.jewelry-list{
	float: left;
	width: 311px;
	margin-top:20px;
	height: 43px;
	border-right: 1px dotted #e6e6e6;
}
.jewelry-l{
	color:#ff6699;
	font-size: 16px;
	line-height: 43px;
	margin-left: 12px;
}
.jewelry-x{
	float: right;
	width:210px;
	height:40px;
	vertical-align: center;
	color:#666;
	font-size: 12px;
	padding-top:3px;
	margin-right:29px;
	padding-left: 20px;
}

.jewelry-not{
	border-right: none;
}

.jewelry-right{
	float: right;
	padding-left:-20px;
	margin-top: -611px;
	width: 259px;
	height: 610px;
}
.book{
	height: 343px;

}
.book-top{
	height: 56px;
	position: relative;
	border-bottom:1px solid #999;

}
.book-pic{
	height: 22px;
	position: absolute;
	width: 117px;
	top: 20px;
	background: url(./img/pic.png)no-repeat 0px -200px;
}
.book-list{
	position: absolute;
	width: 1000px;
	height: 15px;
	top: 25px;
	right: 0px;
}
.book-aa{
	float: right;

}
.book-bb{
	float: left;
	height: 15px;
	line-height: 15px;
	border-right: 1px dotted #ccc;

}
.book-not{
	border-right: none;
	margin-right: -14px;
}
.book-bb a{
	color: #999;
	font-size: 14px;
	padding-left: 17px;
	margin-right: 14px;
}


.book-bottom{
	height: 284px;

}
.book-fen{
 float: left;
}
.book-m{
	float: left;
	margin-right: 15px;
}
.m-not{
	margin-right: -15px;
}
.wet-all{
	position: relative;
	height: 134px;

}
.wet-scroll{
	position: absolute;
	height: 100px;
	top: 20px;
}

#footer{

    height: 311px;
    margin-top: -148px;
    border-top: 1px solid #ddd;
    background: #f5f5f5;
}

.footer-top{
	position: relative;
	height: 180px;
	color: #666;
	border-bottom: 1px solid #e6e6e6;
}

.footer-col{
	float: left;
	margin-right: 56px;
}

.footer-col p{

padding-top: 30px;
}
.footer-col a{
 color: #666;
 font-size: 12px;
}
.footer-pic{
	padding-top: 30px;
	padding-right: 10px;
}

.footer-s{
float: right;
}


.footer-sp{
color: #666;
font-size: 12px;
}

.footer-col span{
	font-size: 16px;
    color: #666;
}

.footer-a{
	display: inline-block;
	margin-right: 2px;
	width: 17px;
	height: 17px;
	background: url(./img/sprite1.png) no-repeat 0px -20px;
}
.footer-b{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 2px;
	background: url(./img/sprite1.png) no-repeat -73px -20px;
}
.footer-c{
	display: inline-block;
	margin-right: 2px;
	width: 17px;
	height: 17px;
	background: url(./img/sprite1.png) no-repeat -49px -20px;
}
.footer-right{
	position: relative;
}
.right-picture{
	position: absolute;
    margin-top: 5px;
	width: 133px;
	height: 100px;
	background: url(./img/sprite1.png)no-repeat 0px -400px;
}
.col-right{
	position: absolute;
	right: -40px;
}


.footer-mid{
	height: 30px;
	border-bottom: 1px solid #e6e6e6;
}
.mid-l{
float: left;
}
.mid-x{
	margin-left: 10px;
	float: left;
	line-height: 30px;

}
.mid-x a{
	color:#666;
	font-size: 12px;
}
.mid-r{
	float: right;
	color: #666;
	font-size: 12px;
	line-height: 30px;
	padding-right: 10px;
}
.footer-f{
	position: relative;
	height: 70px;
	}
.footer-f p{
	position: absolute;
	top: 20px;
}
